@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf');
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: var(--color-blanco);
}
:root{  
    --color-negro: #121212;
    --color-negro-claro: #1B1B1B;
    --color-blanco: #f6f6f6;
    --color-rosa: #ff66c4;
    --color-carmesi: #d90037;
    --color-gris:#303030;
    --color-footer-gris: #6e6e6e;
}
main h1{font-size: 1.3rem;}         /* Tipografia Responsive MOVIL */
main h2{font-size: 1.1rem;}
main p{font-size: 0.9rem;}
main p,h2,h3{                       /*Espacio entre parrafos*/
    padding: 5px 0;
}
.seccion_Cocteles div:first-child{ /*Contenedor del H1 para que quede centrado*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0 0;
}
.seccion_Cocteles div:first-child h1 { /* Linea roja Carta de Cócteles & Bebidas*/
    border-bottom: 3px solid var(--color-carmesi); 
}
.introduccion_producto{ /* Todos los h2 y descripcion de los apartados */
    display: flex;
    flex-direction: column;
    padding: 30px 10%;
} 
.introduccion_producto h2, h3{  /*titulos en rosa */
     color: var(--color-rosa);
}
.lista_cocteles{ /*===== SECTION COCTELES ===== */
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 30px 0;
    gap: 50px;
}
.lista_cocteles article{ /*Diseño recuadros articles*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-negro-claro);
    border: 2px solid var(--color-gris);
    border-radius: 2px;
    width: 250px;      /*width y paddding cambian el tamaño del cuadrado*/
    padding: 20px; 
}
.lista_cocteles article img { /*Tamaño imagen + borde*/
    width: 200px;
    border-radius: 5px;
    border: 3px solid var(--color-negro);
}
.lista_cocteles article div {   /*El texto de la imagen quede centrado y ocupe todo el ancho*/
    width: 100%;
}
.precio{ 
    text-align: right;
    font-size: 1rem;
}
.lista_chupitos{ /*SIGUIENTE APARTADO CHUPITOS*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
    margin: 50px 0;
}
.lista_chupitos article {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*Logre que el titulo quede arriba y el precio abajo del*/
    align-items: left;

    background-color: var(--color-negro-claro);
    border: 2px solid var(--color-gris);
    border-radius: 2px;
    width: 300px;      /*width y paddding cambian el tamaño del cuadrado*/
    padding: 10px;
}
@media (min-width: 768px){ /* Version TABLET */
    main h1{ font-size: 1.5rem;} /* Tipografia Responsive TABLET */
    main h2{font-size: 1.3rem;}
    main p{font-size: 0.9rem;}
 
    .lista_cocteles article{
        flex-direction: row;
        /*align-items: flex-end;  Subo el texto a la par de la imagen*/
        gap: 20px;       /*Este gap separa la foto y la descripcion*/
        width: 450px;    /*Tamaño del article*/
    }
    .lista_cocteles article div > .precio{
        font-size: 1.3rem;
        margin-top: 180px; /*Hace que el precio se vea abajo siento que es una chapuza*/
    }
    .lista_chupitos article{
        width: 20%;   
    } 
}
@media (min-width: 992px){ /* Version PC */
    main h1{font-size: 1.8rem;}     /* Tipografia Responsive PC */
    main h2{font-size: 1.3rem;}
    main p{font-size: 1rem;}

    .lista_cocteles{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;        /* margin: 0 100px; */
        margin: 0 12%;         /*Añadir margen lateral a los articulos aumenta el espacio */
        align-items: stretch;  /*Hace que el contenedor sea del mismo tamaño aunque la descripcion sea mayor*/
    }
}